.page-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 58px;
    background-color: #000000;
    border-bottom: 2px solid $color-green;
  }
  /* display: flex;
  flex-direction: column;

  &--nojs .page-header__toggle {
    opacity: 0;
  }

  &--nojs .main-nav--closed {
    display: block;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    margin-bottom: 33px;
    padding: 50px 40px 40px;
  } */
}
